---
---
@import "vars-typeplate";
@import "typeplate";

$max-width: 665px;
$max-width-fig: 950px;

body {
  margin: 0 auto;
  padding: 1em;
}

a {
  color: #0645ad;
  &:visited {
    color: #0b0080;
  }
  &:hover{
    color: #06e;
  }
  &:active{
    color:#faa700;
  }
  &:focus{
    outline: thin dotted;
  }
  &:hover, &:active{
    outline: 0;
  }
}

dl {
}
dt {
  font-weight: bold;
}

dl, ul, ol {
  list-style-position: outside;
  margin-bottom: $indent-val;
  dl, ul, ol {
    margin-bottom: 0;
  }
}

figcaption {
  font-style: italic;
}

img {
  max-width: 100%;
}

figure {
  padding: 0;
  margin: 0 0 $indent-val;
}

figure p {
  margin: 0;
}

.inline-def {
  dt {
    float: left;
    clear: left;
    margin-right: 0.4em;
  }
  dt:after {
    content: ": "
  }
}

@media screen and (min-width: 41em) {
  html {
    font-size: 125%;
  }
}

/************** posts *********************/

.post-header {
  padding-bottom: 1em;
}

.post-subtitle {
  @extend .gamma;
  font-style: italic;
}

.post-meta {
  @extend .epsilon;
}
.post-attribution, .post-published {
  margin: 0;
}

.post-toc > ul {
  list-style: none;
  padding-left: 0;
}

.post-content, .post-header {
  & > * {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

$figcaption-width: 250px;
$figcaption-margin: 10px;

@media screen and (min-width: $max-width + ($figcaption-width + $figcaption-margin + 10px) * 2 ) {
  figure {
    position: relative;
  }
  figcaption {
    position: absolute;
    left: -($figcaption-width + $figcaption-margin);
    top: 1ex;
    width: $figcaption-width;
    text-align: right;
  }
}

