---
---
@import "vars-typeplate";
@import "typeplate";

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 40em;
}

a {
  color: #0645ad;
  &:visited {
    color: #0b0080;
  }
  &:hover{
    color: #06e;
  }
  &:active{
    color:#faa700;
  }
  &:focus{
    outline: thin dotted;
  }
  &:hover, &:active{
    outline: 0;
  }
}

dl {
}
dt {
  font-weight: bold;
}

ul, ol {
  list-style-position: outside;
}

@media screen and (min-width: 41em) {
  html {
    font-size: 130%;
  }
}

/************** posts *********************/

.post-header {
  padding-bottom: 1em;
}

.post-subtitle {
  @extend .gamma;
  font-style: italic;
}

.post-meta {
  @extend .delta;
}
.post-attribution, .post-published {
  margin: 0;
}
